
<h1><%= @shelter.name %></h1>
<p>Address:  <%= @shelter.address %></p>
<p>City:     <%= @shelter.city %></p>
<p>State:    <%= @shelter.state %></p>
<p>Zip Code: <%= @shelter.zip %></p>


<%= link_to "View Pets", "/shelters/#{@shelter.id}/pets" %><br>
<%= link_to "Edit", "/shelters/#{@shelter.id}/edit" %><br>
<%= link_to "Delete", "/shelters/#{@shelter.id}", method: :delete %><br>
