
<div id="pets">
  <% @pets.each do |pet| %>
    <div class="responsive">
      <div class="gallery">
        <p><a href="/pets/<%= pet.id %>"><%= pet.name %></a></p>
        <p><img src= <%= pet.image %>></p>
        <p>Sex: <%= pet.sex %></p>
        <p>Age: <%= pet.approximate_age %></p>
        <p>Shelter ID: <%= pet.shelter_id %></p>

        <%= link_to "Pet's Shelter Page", "/shelters/#{pet.shelter_id}/" %><br>
        <%= link_to 'Edit', "/pets/#{pet.id}/edit" %>
        <%= link_to 'Delete', "/pets/#{pet.id}", method: :delete %>
      </div>
    </div>
  <% end %>
</div>


<!-- <ul>
<% @pets.each do |pet| %>
    <li><a href="/pets/<%= pet.id %>"><%= pet.name %></a></li>
      <ul>
        <li><img src= <%= pet.image %>></li>
        <li>Sex: <%= pet.sex %></li>
        <li>Age: <%= pet.approximate_age %></li>
        <li>Shelter ID: <%= pet.shelter_id %></li>
      </ul>
      <%= link_to "Pet's Shelter Page", "/shelters/#{pet.shelter_id}/" %><br>
      <%= link_to 'Edit', "/pets/#{pet.id}/edit" %>
      <%= link_to 'Delete', "/pets/#{pet.id}", method: :delete %><br>
<% end %>
</ul> -->
