

<ul>
<% @pets.each do |pet| %>
    <li><%= pet.name %></li>
      <ul>
        <li><img src= <%= pet.image %>></li>
        <li>Sex: <%= pet.sex %></li>
        <li>Age: <%= pet.approximate_age %></li>
      </ul>
      <%= link_to 'Edit', "/pets/#{pet.id}/edit" %>
      <%= link_to 'Delete', "/pets/#{pet.id}", method: :delete %><br>
<% end %>
</ul>

<%= link_to 'Add New Pet', "/shelters/#{@shelter.id}/pets/new" %><br>
<%= link_to 'Back to Shelter', "/shelters/#{@shelter.id}" %>
