<div id="shelter_pet">
<div>
  <%= link_to 'Add New Pet', "/shelters/#{@shelter.id}/pets/new" %><br>
  <%= link_to 'Back to Shelter', "/shelters/#{@shelter.id}" %>
</div>

<div id="pets_2">
  <% @pets.each do |pet| %>
    <div class="responsive_2">
      <div class="gallery_2">
        <p><%= pet.name %></p>
        <p><img src= <%= pet.image %>></p>
        <p>Sex: <%= pet.sex %></p>
        <p>Age: <%= pet.approximate_age %></p>
        <%= link_to 'Edit', "/pets/#{pet.id}/edit" %><br>
        <%= link_to 'Delete', "/pets/#{pet.id}", method: :delete %><br>
      </div>
    </div>
    <% end %>
</div>

</div>
