<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <header>
      <h1 class="link"><%= link_to "Adopt Don't Shop", "/" %></h1>
      <nav>
        <ul>
          <li class="link"><%= link_to "Shleters", "/shelters" %></li>
          <li class="link"><%= link_to "Pets", "/pets" %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
